.back{
    text-decoration: none;
    color: black;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}


.post-img{
max-height: 200px;
display: flex;
overflow: hidden;
}

.post-img img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
}


.post h1{
    text-align: center;
    margin: 10px 0 5px;
} 

.post time{
    text-align: center;
    display: block;
    font-size: .7rem;
    color: #aaa;
}

.post .author{
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.7.5rem;
    font-weight: bold;
}

.post .content p{
    margin: 5px;
    line-height: 1.6rem;
}

.edit{
text-align: center;
margin-bottom: 20px;
}

.submit-edit {
  
    background-color: #333;
    display: inline-block;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 10px;
}

.delete-btn{
     background-color: #333;
    display: inline-block;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 10px;
    margin-left: 2px;
}

.content{
    text-align: center;
}


